.dot {
  display: inline-block;
  border-radius: 50%;
  flex-shrink: 0;
}

.connected {
  background-color: var(--tertiary);
}

.reconnecting {
  background-color: var(--warning);
}

.disconnected {
  background-color: var(--error);
}
